.root {
  -fx-font-family: "Verdana";
}

.header {
  -fx-font-size: 3.0em;
}

.subheader {
  -fx-font-size: 2.25em;
}

.title {
  -fx-font-size: 1.5em;
}

.subtitle {
  -fx-font-size: 1.25em;
}

.body {
  -fx-font-size: 1.0em;
}

.base {
  -fx-font-size: 1.0em;
  -fx-font-weight: bold;
}

.caption {
  -fx-font-size: 0.875em;
  -fx-font-style: normal;
  -fx-font-weight: normal;
}
